process {
    cpus = { 1 }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time = { check_max( 2.h * task.attempt, 'time' ) }

    withLabel:process_low {
        cpus = { 1 }
        memory = { check_max( 12.GB * task.attempt, 'memory' ) }
        time = { check_max( 4.h * task.attempt, 'time' ) }
    }

    maxRetries = 2
    maxErrors = '-1'

    errorStrategy = 'retry'
}

params {
    GEThreshold = 30
    individualCellThreshold = 15
    pseudobulkCellThreshold = 2000

    // Defaults only, expecting to be overwritten
    max_memory = 144.GB
    max_cpus = 12
    max_time = 96.h
}
